.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animation-view-container {
  display: flex;
  justify-content: space-between;
}

.animation-block-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.animation-keys {
  padding: 15px 0;
  padding-right: 0px;
}

.animation-key {
  width: 50px;
  background-color: #e1e1e1;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.cards-container {
  padding: 15px;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  margin: 5px;
}
.card-hidden {
  margin: -500px;
  animation: slideOutRight 500ms;
}
.testi {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: aqua;
  z-index: 3;
  animation-name: fade;
  animation-duration: 3s;
  animation-delay: 1s;
}
.square {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  fill: white;
  border: 2px solid black;
  z-index: 0;
}
.square-container {
  margin: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
}
.p {
  align-self: center;
  margin: auto;
  padding: auto;
}
