.cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: auto;
  padding: 15px;
  align-items: flex-end;
  grid-template-areas: "left middle right";
}
.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  margin: 5px;
  visibility: visible;
}
/*.card.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: 
}*/
.square {
  display: flex;
  /*  align-self: auto;*/
  justify-content: center;
  width: 150px;
  height: 150px;
  fill: white;
  border: 2px solid black;
  z-index: 0;
}
.square-container {
  margin: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
}

.arrow {
  width: 100px;
  height: 100px;
}
/*.img {
  z-index: 1;
  background: url(A.png);
  margin: auto;
  width: auto;
  height: auto;
}*/
.p {
  align-self: center;
  margin: auto;
  padding: auto;
}
