@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: auto;
  padding: 15px;
  align-items: flex-end;
  grid-template-areas: 'left middle right';
}

.cards {
  display: flex;
  flex-direction: column;
}

.card-hidden {
  margin: -500px;
  animation: slideOutRight 500ms;
}

.p {
  align-self: center;
  margin: auto;
  padding: auto;
}
